<div class="chat-container bg-white h-screen p-4 flex flex-col justify-between">
  <!-- Header del chat -->
  <div class="chat-header bg-blue-500 text-white text-center p-3 rounded-t-md">
    <h2>Chatbot</h2>
  </div>

  <!-- Área de mensajes -->
  <div class="chat-messages flex-1 overflow-y-auto space-y-5 py-3 max-w-full">

    <!-- Pregunta 1: Comida -->
    <div *ngIf="showMeatConsumptionTyping" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="bg-gray-300 text-gray-600 p-3 rounded-lg shadow-md relative max-w-full">... escribiendo</div>
    </div>
    <div *ngIf="!showMeatConsumptionTyping" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="chat-message p-3 rounded-lg shadow-md relative max-w-full break-words" style="background-color: #F2F2F3;">
        <p>Comencemos con tu <strong>COMIDA</strong>. ¿Comiste carne 🥩 hoy?</p>
        <div *ngIf="!answeredMeatConsumption" class="flex flex-wrap space-x-2 mt-2">
          <button (click)="answerMeatConsumption(true)" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600">Sí</button>
          <button (click)="answerMeatConsumption(false)" class="bg-red-500 text-white py-2 px-4 rounded-md hover:bg-red-600">No</button>
        </div>
        <div *ngIf="answeredMeatConsumption" class="mt-2 text-green-600">Respuesta guardada: {{ meatConsumption ? 'Sí' : 'No' }}</div>
      </div>
    </div>

    <!-- Pregunta 2: Movilidad -->
    <div *ngIf="showTransportTyping" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="bg-gray-300 text-gray-600 p-3 rounded-lg shadow-md relative max-w-full">... escribiendo</div>
    </div>
    <div *ngIf="!showTransportTyping && answeredMeatConsumption" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="chat-message p-3 rounded-lg shadow-md mt-4 max-w-full break-words" style="background-color: #F2F2F3;">
        <p>Sigamos con tu <strong>MOVILIDAD</strong>. ¿Por cuánto tiempo te movilizaste en...?</p>
        <div *ngFor="let transport of habits.transport" class="mt-2 flex justify-between items-center">
          <span>
            <span *ngIf="transport === 'Carro o Taxi'">🚖</span>
            <span *ngIf="transport === 'Bus'">🚌</span>
            <span *ngIf="transport === 'Bicicleta'">🚲</span>
            <span *ngIf="transport === 'Voy caminando'">🚶‍♂️</span>
            {{ transport }}
          </span>
          <section class="flex items-center ml-auto">
            <input *ngIf="!answeredTransport" type="number" [(ngModel)]="transportUsage[transport]" placeholder="Minutos" class="border p-2 rounded w-16 mr-1 text-right"/>
            <input *ngIf="answeredTransport" type="number" [(ngModel)]="transportUsage[transport]" class="border p-2 rounded w-16 mr-1 text-right" readonly/>
            <span>minutos</span>
          </section>
        </div>
        <div class="flex justify-end">
          <button *ngIf="!answeredTransport" (click)="submitTransport()" class="bg-[#00A6A6] text-white w-[81px] h-[23px] rounded-[12px] mt-2">¡Listo!</button>
        </div>
        <div *ngIf="answeredTransport" class="mt-2 text-green-600">Respuesta guardada para la movilidad.</div>
      </div>
    </div>

    <!-- Pregunta 3: Tecnología -->
    <div *ngIf="showDeviceTyping" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="bg-gray-300 text-gray-600 p-3 rounded-lg shadow-md relative max-w-full">... escribiendo</div>
    </div>
    <div *ngIf="!showDeviceTyping && answeredTransport" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="chat-message p-3 rounded-lg shadow-md mt-4 max-w-full break-words" style="background-color: #F2F2F3;">
        <p>Sigamos con tu <strong>TECNOLOGÍA</strong>. ¿Por cuánto tiempo utilizaste...?</p>
        <div *ngFor="let device of habits.devices" class="mt-2 flex justify-between items-center">
          <span>
            <span *ngIf="device === 'Celular'">📱</span>
            <span *ngIf="device === 'Laptop'">💻</span>
            <span *ngIf="device === 'Tablet'">📲</span>
            {{ device }}
          </span>
          <section class="flex items-center ml-auto">
            <input *ngIf="!answeredDevices" type="number" [(ngModel)]="deviceUsage[device]" placeholder="Minutos" class="border p-2 rounded w-16 mr-1 text-right"/>
            <input *ngIf="answeredDevices" type="number" [(ngModel)]="deviceUsage[device]" class="border p-2 rounded w-16 mr-1 text-right" readonly/>
            <span>minutos</span>
          </section>
        </div>
        <div class="flex justify-end">
          <button *ngIf="!answeredDevices" (click)="submitDevices()" class="bg-[#00A6A6] text-white w-[81px] h-[23px] rounded-[12px] mt-2">¡Listo!</button>
        </div>
        <div *ngIf="answeredDevices" class="mt-2 text-green-600">Respuesta guardada para la tecnología.</div>
      </div>
    </div>

    <!-- Mensaje de finalización y huella de carbono -->
    <div *ngIf="showFinalMessageTyping" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="bg-gray-300 text-gray-600 p-3 rounded-lg shadow-md relative max-w-full">... escribiendo</div>
    </div>
    <div *ngIf="!showFinalMessageTyping && answeredDevices" class="flex items-start space-x-3 max-w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="chat-message p-3 rounded-lg shadow-md mt-4 max-w-full break-words" style="background-color: #F2F2F3;">
        <p>Nice! Hemos acabado con el registro 🌟🤩</p>
        <p>Tu huella de carbono del día es <strong>{{ co2Total }} gr CO2</strong>. 🌳🌳🌳</p>
      </div>
    </div>

    <!-- Botones de acción con sombra y fondo transparente -->
    <div *ngIf="showActionButtons" class="flex items-start space-x-3 w-full">
      <img src="/assets/images/beenny.png" alt="Chatbot Avatar" class="w-9 h-9 rounded-full flex-shrink-0">
      <div class="chat-message p-3 rounded-lg shadow-lg mt-4 w-full break-words" style="background-color: #F2F2F3;" >
        <p>¿Qué quisieras hacer ahora?</p>
        <div class="flex flex-col space-y-2">
          <button (click)="handleAction('metrics')" style="background-color: rgba(255, 255, 255, 0.45);" class=" text-neutral-950 w-full h-[32px] rounded-[8px] drop-shadow-md">🕵🏼‍♀️ Ver mis métricas</button>
          <button (click)="handleAction('recommend')" style="background-color: rgba(255, 255, 255, 0.45);" class=" text-neutral-950 w-full h-[32px] rounded-[8px] drop-shadow-md">📢 ¡Recomiéndame algo!</button>
          <button (click)="handleAction('end')" style="background-color: rgba(255, 255, 255, 0.45);" class=" text-neutral-950 w-full h-[32px] rounded-[8px] drop-shadow-md">🔚 Terminar conversación</button>
        </div>
      </div>
    </div>
  </div>
</div>
